<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= category.name %></h1>
    <p><%= category.description %></p>

    <h2>Items in <%= category.name %>:</h2>
    <% items.forEach((item) => { %>
        <div>
           <a href="/items/<%= item._id %>"><h3><%= item.name %></h3></a>
           <p><%= item.description %></p>

           


           <!-- <button>Update Item</button>
           
           <button>Delete Item</button> -->

        </div>
    <% }) %>

    <form method="get" action="/update_category/<%= category._id %>"> 
    <button>Update Category</button>
    </form>


    
    <button>Delete Category</button>
    


    <a href="/">Back to home</a>


</body>
</html>

