<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><%= item.name %></p>
    <p><%= item.description %></p>
    <p><%= item.category %></p>
    <p><%= item.price %></p>
    <p><%= item.numberInStock %></p>
    <p><%= item.aisle %></p>

    <!-- original  -->
    <!-- <form method="POST" action="/update_item"> 
    <button>Update Item</button>
    </form> -->

    <form method="GET" action="/update_item/<%= item._id %>"> 
        <button type="submit">Update Item</button>
    </form>
    

    <form method="POST" action="/delete_item/<%= item._id %>?_method=DELETE">
        <button type="submit">Delete Item</button>
    </form>
    
    
    <a href="/">Back to home</a>
</body>
</html>