<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Update Item</title>
</head>
<body>
    
    <h1>Update an Item</h1>
    
    <form class="update-item-form" method="post" action="/update_item/<%= item._id %>" id="update-item-form">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= item.name %>" required />

        <label for="description">Description</label>
        <input type="text" name="description" value="<%= item.description %>" required />

        <label>Category</label>
        <select id="category" name="category" required>
            <% categories.forEach((category) => { %>
                <option value="<%= category._id %>" <%= String(item.category) === String(category._id) ? 'selected' : '' %>><%= category.name %></option>
            <% }) %>
        </select>
        

        <label>Price</label>
        <input type="number" name="price" value="<%= item.price %>" required />

        <label>Number in stock</label>
        <input type="number" name="numberInStock" value="<%= item.numberInStock %>" required />

        <label>aisle number</label>
        <input type="number" name="aisle" value="<%= item.aisle %>" required />

        <button type="submit">Submit</button>
    </form>

    <a href="/">Back to home</a>


</body>
</html>























<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Update Item</title>
</head>
<body>
    
    <h1>Update an Item</h1>
    
    <form class="update-item-form" method="post" action="/items/<%= item._id %>/update" id="update-item-form">
        <label for="name">Name</label>
        <input type="text" name="name" value="<%= item.name %>" required />

        <label for="description">Description</label>
        <input type="text" name="description" value="<%= item.description %>" required />

        <label>Category</label>
        <select id="category" name="category" required>
            <% categories.forEach((category) => { %>
                <option value="<%= category._id %>" <%= String(item.category) === String(category._id) ? 'selected' : '' %>><%= category.name %></option>
            <% }) %>
        </select>
        
        <label>Price</label>
        <input type="number" name="price" value="<%= item.price %>" required />

        <label>Number in stock</label>
        <input type="number" name="numberInStock" value="<%= item.numberInStock %>" required />

        <label>aisle number</label>
        <input type="number" name="aisle" value="<%= item.aisle %>" required />

        <button type="submit">Submit</button>
    </form>

    <a href="/">Back to home</a>

</body>
</html> -->
